@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");


*
{
    margin: 0;
    padding: 0;
}

:root
{
  --bgOrange:#e84949;
}

body
{
  overflow-x: hidden;
  font-family:  'Be Vietnam Pro';
}

.wrraper
{
  
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  width: 100%;

}

.container
{ 
    padding: 35px;
    width: 1200px;
    margin: 0 auto;
}

.logo
{
  position: relative;
  top: 5px;
  width: 80px;    
}

.logo-container
{
    display: flex;
}

.logo-text
{
    display: flex;
    flex-direction:column-reverse;
    font-size: 35px;
    letter-spacing: 1px;
}

.nav-bar
{
    display: flex;
     justify-content: space-between;
    justify-content: baseline;
    
}

a
{
    text-decoration: none;
    color: black;
}

.nav-itm
{
    font-size: 22px;
}

.nav-itm:hover
{
  transform: scale(1.1);
  transition: 0.55s;
}


.nav
{
    display: flex;
     gap: 25px;
     position: relative;
     top: 50px;
     text-decoration: none;    
}


.hero-section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}
/* 
.fadded-text
{
    font-size: 7em;
    user-select: none;
    bottom: -10%;
    left: -5%;
    font-weight: bold;
     transition: all 3s;
     color: gainsboro;
} */

.hero-left-section
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4rem;
}

.sub-heading
{
  font-weight: 600;   
  font-size: 35px;
  color: #343d68
}

.heading
{
    
    font-size: 35px;
    color: #343d68
}


.role
{
  color: #4e45d5;
}

    .hero-discription
{
    margin-top: 1rem;
    width: 90%;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 20px;

}


.btn-pink 
{
  background-color: var(--bgOrange);
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}

.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}


.btn-pink:hover::before
 {
  transform: scaleX(1);
}


.btn-pink:hover
 {
  border: solid 3px var(--bgOrange);
  color: black;
}



.hero-right-section
{
    position: relative;
}

.absolute
{
    position:absolute ;
}

.user-images
{
  padding: 2.5rem;
  filter: grayscale(1);
  transition: all 1s;
  animation:prince 5s linear infinite;
  animation-name: prince;

}

.user-images img{
    z-index: -9;
}

@keyframes prince
{
    0%
    {
       transform: scale(1);
       filter: grayscale(0);
    }

    50%
    {
       transform: scale(1.1);
       filter: grayscale(1);
       box-shadow: 3px 3px 5px black;
    }

    100%
    {
        transform: scale(1);
        filter: grayscale(0);

    }

}

.icon-dots
{
  z-index: 9;
  bottom: 1rem ;
  right: 0;
  animation-name:icon;
  animation-duration :2s;
  animation-iteration-count: infinite;

}

@keyframes icon

{
   0%
   {
      transform: translateY(0px);
      
   }

   50%
   {
    transform: translateY(-15px);
   }

   100%
   {
     transform:translateY(0px)
   }
}

.icon-cube
{
z-index: 9;
  top: -0.8rem ;
  right: 1rem;
  animation-name:cube;
  animation-duration :2s;
  animation-iteration-count: infinite;

}


@keyframes cube
{
  0%
  {
    transform: rotateY(0px) translateY(0);


  }

  50%
  {
    transform: rotateY(180deg) translateY(-12px);
  }

  100%
      {
        transform: rotateY(0deg) translateY(0px);
      }
}

.icon-circle
{
    z-index: 9;
    bottom: 1rem ;
    right: 1;
    animation-name:circle;
    animation-duration :6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes circle
{
  
   50%
   {
     left: 0.35%;
     bottom: 8%;
   }

  
}


.icon-zig-zag
{
    z-index: 9;
    top: 1.5rem ;
    left: -0.3em;
    animation-name:circle;
    animation-duration :1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.icon-plus
{
    z-index: 9;
    top: -0.8rem ;
    left: 50%;
    animation-name:plus;
    animation-duration :2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes plus
{
  
   50%
   {
    top: 3%;
    left: 48%;

   }
 
}


.project-section
{
  background-color: rgb(199, 193, 193);
  margin-top: 3rem;
  padding-bottom: 35px;
}


.project-header
{
   font-size: 90px;
   color: #e84949;
   align-items: center;
   position: relative;
   left: 7em;
   padding-top: 15px;
   padding-bottom: 15px;
}


.project-container
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
 
  flex-direction: column;
  display: flex;
  gap: 120px;

}

.project-card
{
  width: 90%;
  height: 550px;
  background-image: url(.Project1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 0px 39px black;
}


.project-card::after
{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #1f1f1f9a;
  transform:scaleX(1);
  z-index: 0;

}

.project-card::before
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:linear-gradient(45deg, #343d68, #343d68be, #343f687c);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s;
  z-index: 1;

}

.project-card:hover::before
{
   transform: scaleX(1);

}

.project-number
{
  position: absolute;
  font-size: 150px;
  font-weight: 600;
  color: white;
  left: 800px;
  z-index: 10;
  opacity: 0;
}

.project-card:hover .project-number

{
  opacity: 1;
}

.project-content
{
  position:absolute;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  bottom: 20%;
  z-index: 5;
  gap: 2em;
  transition: all 0.4s;
}

.project-content
{
  position: absolute;
  left: 50px;
}

.skills-container
{
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 60%;
  flex-wrap: wrap;
  
}

.skills
{
  
  width: 40px;
}

.project-heading
{
  font-size: 40px;
  width:100%;
  font-weight: bold;
}

.project-sub-heading
{
    width: 70%;
    font-size: 20px;
    font-style: italic;
}

.project-content:hover

{
  transform: scale(1.1);
  transition: 0.8s;
  
}

.skiils-container
{
  display: flex;
  position: relative;
  padding: 5rem;
  margin: 10rem auto;
  gap: 60px;
  width: 1200px;
}


.skill-container-left
{
  display: flex;
  width: 50%;
  flex-direction: column;
}


.skill-container-right
{
  display: flex;
  flex-wrap:wrap;
  width: 70%;
  position: relative;
  gap: 2em;
  justify-content: center;
}

.skills-faded-text
{
  position: absolute;
  font-size: 10em;
  font-weight: bold;
  color: gainsboro;
  bottom: -34.5%;
  right: -6%;
  user-select: none;
}


.blob-style
{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation:3s linear infinite;
  animation-name:blob-item;
  z-index: -1;
}

@keyframes blob-item
{
  50%
  {
    top:56%;
    left: 40%;
  }
}

.skills-logo
{
  width: 90px;
  transition: 0.5s;
}

.skills-logo:hover
{
  transform: scale(1.2);
}


.skiill-heading
{
  font-size:50px;
  color: #e84949;
  font-weight: bold;
}

.caps
{
   font-size: 70px;
  font-family:  'Be Vietnam Pro';
  
}

.sub-skill-containt

{
   margin-top: 1rem;
  width:100%;
  text-align: justify;
}

.sub-skill-containt p
{
  margin:15px 0;
  scroll-behavior: smooth;
  font-family:  'Be Vietnam Pro';
}


.icon{
  cursor:pointer;
  color:white;
  font-size:35px;
  transition:all 0.4s;
  letter-spacing: 13px;
  position: relative;
  left: 7px;
  top: 10px;
  
}

a .icon:hover
{
  color: #e84949;
}

.contact-form-container
{
  background-color: gainsboro;
  padding-bottom: 10px;
}

.form-container
{
  width: 1200px;

}

.contact-heading
{
  position: relative;
  font-size: 85px;
  left: 2em;
  color:#e84949;
  font-weight: bold;
}

.contact-sub-heading
{
  position: relative;
  left: 5em;
  font-size: 35px;
  color: rgb(120, 118, 118);
  font-weight: bold;
}

.form
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}


.form-field-container
{
  width: 100%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 16em;
}

.form-field 
{
   width: 100%;
   height: 42px;
   padding: 0 2rem;
   box-shadow: 2px 2px 10px black;
   justify-content: center;
   border-radius: 6px;
   border: none;
   font-size: 18px;
   font-weight: 500;
   margin: 1px;
  }

  .form-field-textarea
  {
     height: auto;
     padding-top: 1rem; ;
  }

  #submit-btn
  {
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
    transition: all 0.6s;
    letter-spacing: 1px;
    
  }

  #submit-btn:hover,.submit-icon
  {
    transform:scale(0.9);
  }


  footer
  {
   position: relative;
   margin-top: -1px;
   padding: 4rem;
   background-color: #343d68;
   height: 100%;
  }


  .Footer-faded-text
{
  position: absolute;
  font-size: 4em;
  color: #535c87;
  bottom: 0;
   left: 0;
  user-select: none;
}

.footer-wrapper
{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1.2rem;
  align-items: center;
}

.footer-left
{
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  position: relative;
  left: 10px;  
}

.Foter-right
{
  letter-spacing: 5px;
  font-size: 25px;
  
}

.footer-icon:hover
{
  background-color:#e84949;
}


  #resume-btn
  {
    position: relative;
    left: 10em;
    bottom: 4.2em;
  }
